click
sphinx<7.3
sphinx-autobuild
sphinxcontrib-bibtex>=2
sphinx-issues
sphinx-rtd-theme
nbsphinx
nbsphinx_link
ipython
libertem[bqplot]
flask
setuptools

# to nudge uv into the right direction: numpy before numba; explicit <2.1 dep
numpy<2.1
numba
