include LICENSE
include README.rst
graft tests
include conftest.py
include pytest.ini
include test_requirements.txt
include tox.ini
recursive-exclude **/.mypy_cache *
recursive-exclude **/__pycache__ *
